package pages

import (
	datastar "github.com/starfederation/datastar/sdk/go"
	"myproject/web/layouts"
)

templ Index(title string) {
	@layouts.Base(title) {
		<div id="sheet-container" data-on-load={ datastar.GetSSE("/api/sheet") }></div>
	}
}
